/* line 7, ../scss/styles.scss */
* {
  box-sizing: border-box;
}

/* line 11, ../scss/styles.scss */
body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: #ecefec;
  color: #80917e;
}

/* line 18, ../scss/styles.scss */
a {
  text-decoration: none;
}

/* line 27, ../scss/styles.scss */
.header {
  background: -webkit-linear-gradient(90deg, rgba(97, 97, 97, 0.7) 10%, rgba(155, 197, 195, 0.7) 90%), url(../assets/accessfuel-image1.png);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, rgba(97, 97, 97, 0.7) 10%, rgba(155, 197, 195, 0.7) 90%), url(../assets/accessfuel-image1.png);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, rgba(97, 97, 97, 0.7) 10%, rgba(155, 197, 195, 0.7) 90%), url(../assets/accessfuel-image1.png);
  /* IE10 */
  background: -o-linear-gradient(90deg, rgba(97, 97, 97, 0.7) 10%, rgba(155, 197, 195, 0.7) 90%), url(../assets/accessfuel-image1.png);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, rgba(97, 97, 97, 0.7) 10%, rgba(155, 197, 195, 0.7) 90%), url(../assets/accessfuel-image1.png);
  /* W3C */
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  height: auto;
  min-height: 100vh;
  width: 100%;
  color: white;
  border-bottom: 15px solid #b6c0b5;
}
/* line 48, ../scss/styles.scss */
.header h1 {
  margin-bottom: 5px;
}
/* line 51, ../scss/styles.scss */
.header p {
  margin-top: 5px;
}

/* line 56, ../scss/styles.scss */
.feature {
  display: inline-block;
  vertical-align: top;
  width: 250px;
  height: auto;
  margin: 25px;
  border-radius: 10px;
  padding: 20px;
}
/* line 65, ../scss/styles.scss */
.feature .feature-image-contain {
  width: 100px;
  height: 100px;
  padding: 5px;
  background-color: #ecefec;
  border-radius: 50%;
  margin: 0 auto;
}
/* line 73, ../scss/styles.scss */
.feature img {
  width: 60px;
  height: 60px;
  margin-top: 15px;
}
/* line 78, ../scss/styles.scss */
.feature h3 {
  margin-bottom: 5px;
}
/* line 81, ../scss/styles.scss */
.feature a {
  color: white;
}

/* line 86, ../scss/styles.scss */
.cta-button {
  background-color: rgba(255, 255, 255, 0);
  width: 100px;
  height: 35px;
  border-style: none;
  border: 1px solid white;
  border-radius: 5px;
  transition: ease all;
}
/* line 94, ../scss/styles.scss */
.cta-button:hover {
  background-color: #b6c0b5;
}
/* line 97, ../scss/styles.scss */
.cta-button.header-button {
  display: block;
  margin: 0 auto;
}
/* line 101, ../scss/styles.scss */
.cta-button.main {
  width: 200px;
  height: 50px;
}
/* line 105, ../scss/styles.scss */
.cta-button.section-button {
  float: left;
}

/* line 110, ../scss/styles.scss */
section {
  padding: 20px;
  height: auto;
  width: 100%;
  overflow: hidden;
}
/* line 115, ../scss/styles.scss */
section.blue-section {
  background-color: #b2d3cf;
}
/* line 117, ../scss/styles.scss */
section.blue-section h1 {
  color: white;
}
/* line 121, ../scss/styles.scss */
section a {
  color: #80917e;
}

/* line 126, ../scss/styles.scss */
.half {
  width: 49%;
  min-width: 300px;
  display: inline-block;
  vertical-align: top;
}
/* line 131, ../scss/styles.scss */
.half h1, .half p {
  text-align: left;
  line-height: 24px;
}
/* line 135, ../scss/styles.scss */
.half img {
  width: 40%;
}
/* line 137, ../scss/styles.scss */
.half img.contact-icon {
  width: 75px;
  height: auto;
}
/* line 142, ../scss/styles.scss */
.half.contact {
  padding: 25px;
}

/* line 147, ../scss/styles.scss */
.text-right {
  text-align: right;
}
/* line 148, ../scss/styles.scss */
.text-right p {
  text-align: right;
}

/* line 154, ../scss/styles.scss */
.text-left {
  text-align: left;
}

/* line 158, ../scss/styles.scss */
.brands {
  background-color: #b6c0b5;
  color: white;
}
/* line 161, ../scss/styles.scss */
.brands img {
  display: inline-block;
  height: 100px;
  width: auto;
  max-width: 150px;
  margin: 10px;
}

/* line 170, ../scss/styles.scss */
footer {
  background-color: #b2d3cf;
  bottom: 0px;
  top: auto;
  padding: 10px;
  font-size: 11px;
}
